@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
::placeholder{
  margin-left: 12px;

}
.primary-btn{
  color:#fff;
  background-color: #3ae486;
  font-weight: 650;
  border-radius: 1rem;
  
}
.primary-btn:hover{
  background-color: #6deba5;
}
.secondary-btn{
  position: relative;
  text-decoration: none;
}
.secondary-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.secondary-btn:hover::before {
  width: 100%;
  transition: width 0.3s ease-in;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: #fff;
  border: 1px solid #000;
}
